<a href="https://colab.research.google.com/github/almedida/thesis/blob/main/10k_student_ttest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
install.packages('pacman')
library(pacman, devtools)
p_load("tidyverse", "matrixTests", "gtools", "VennDiagram")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘matrixStats’



matrixTests installed

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


gtools installed

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘formatR’, ‘lambda.r’, ‘futile.options’, ‘futile.logger’



VennDiagram installed

##**Load Dataset**##

Load 10,000 selected genes with randomly selected samples in each group

In [6]:
tenk_group1_data = read.table("10k_untreated_group1_sorted.csv", header= TRUE, sep=",")
tenk_group2_data = read.table("10k_treated_group2_sorted.csv", header= TRUE, sep=",")

In [7]:
head(tenk_group1_data)
head(tenk_group2_data)

  X  GSM1247270 GSM1247369 GSM1247331 GSM1247364
1  3 5.817677   6.514915   5.388687   5.782911
2  4 8.853257   8.704396   9.377953   8.732246
3  7 7.013458   7.076799   6.805468   7.029274
4  8 7.360748   7.008969   7.180487   7.098370
5  9 7.324947   7.345208   7.249547   7.282897
6 14 6.301717   5.763372   6.041736   6.394681

  X  GSM1247245 GSM1247216 GSM1247412 GSM1247389
1  3  7.294158   6.906492   6.250236   6.638433
2  4 10.633180  10.581575  10.010287  10.712774
3  7  7.224860   7.496177   7.548582   6.992288
4  8  6.953448   7.119632   7.192184   6.960319
5  9  7.142798   7.181086   7.268388   7.156984
6 14  5.832879   5.611746   6.014682   5.731933

In [9]:
tenk_group1_data = tenk_group1_data[-1]
tenk_group2_data = tenk_group2_data[-1]

In [10]:
head(tenk_group1_data)
head(tenk_group2_data)

  GSM1247270 GSM1247369 GSM1247331 GSM1247364
1 5.817677   6.514915   5.388687   5.782911
2 8.853257   8.704396   9.377953   8.732246
3 7.013458   7.076799   6.805468   7.029274
4 7.360748   7.008969   7.180487   7.098370
5 7.324947   7.345208   7.249547   7.282897
6 6.301717   5.763372   6.041736   6.394681

  GSM1247245 GSM1247216 GSM1247412 GSM1247389
1  7.294158   6.906492   6.250236   6.638433
2 10.633180  10.581575  10.010287  10.712774
3  7.224860   7.496177   7.548582   6.992288
4  6.953448   7.119632   7.192184   6.960319
5  7.142798   7.181086   7.268388   7.156984
6  5.832879   5.611746   6.014682   5.731933

##**Extracting p-values using Student's t-test**##

In [11]:
tenk_ttest <- row_t_equalvar(tenk_group1_data, tenk_group2_data, alternative = "two.sided", mu = 0, conf.level = 0.95)

In [12]:
head(tenk_ttest)

  obs.x obs.y obs.tot mean.x   mean.y    mean.diff  var.x       var.y
1 4     4     8       5.876048  6.772330 -0.8962822 0.219251154 0.193604818
2 4     4     8       8.916963 10.484454 -1.5674914 0.098625133 0.102838727
3 4     4     8       6.981250  7.315477 -0.3342269 0.014457528 0.066551000
4 4     4     8       7.162143  7.056396  0.1057477 0.022436573 0.014088751
5 4     4     8       7.300650  7.187314  0.1133358 0.001834148 0.003171122
6 4     4     8       6.125376  5.797810  0.3275665 0.080554626 0.029074297
  var.pooled  stderr     df statistic pvalue       conf.low    conf.high
1 0.206427986 0.32126935 6  -2.789816 0.0315852063 -1.68240002 -0.1101645
2 0.100731930 0.22442363 6  -6.984520 0.0004285995 -2.11663622 -1.0183465
3 0.040504264 0.14230999 6  -2.348584 0.0571690227 -0.68244688  0.0139931
4 0.018262662 0.09555800 6   1.106634 0.3108358438 -0.12807425  0.3395697
5 0.002502635 0.03537397 6   3.203931 0.0185080692  0.02677877  0.1998927
6 0.054814461 0.16555129 6   1.978641 0.0952031468 -0.07752292  0.7326559
  alternative mean.null conf.level
1 two.sided   0         0.95
2 two.sided   0         0.95
3 two.sided   0         0.95
4 two.sided   0         0.95
5 two.sided   0         0.95
6 two.sided   0         0.95

In [13]:
write.csv(tenk_ttest, "pvalue_10k_sorted_all.csv", row.names=FALSE)

In [14]:
pvalue_10k_sorted <- tenk_ttest[13]
head(pvalue_10k_sorted)
write.csv(pvalue_10k_sorted, "pvalue_10k_sorted.csv", row.names=FALSE)

  pvalue
1 0.0315852063
2 0.0004285995
3 0.0571690227
4 0.3108358438
5 0.0185080692
6 0.0952031468

**Adjusted p-values using Benjamini Hochberg**

In [16]:
adj_pvalue_10k_sorted <- data.matrix(as.data.frame(as.matrix(pvalue_10k_sorted)), rownames.force = NA)

In [18]:
adj_pvalue_10k_sorted <-p.adjust(adj_pvalue_10k_sorted, "BH")

In [19]:
adj_pvalue_10k_sorted_df = data.frame(adj_pvalue_10k_sorted)
head(adj_pvalue_10k_sorted_df)
write.csv(adj_pvalue_10k_sorted_df, "adj_pvalue_10k_sorted.csv", row.names=FALSE)

  adj_pvalue_10k_sorted
1 0.41791505
2 0.06055271
3 0.54411081
4 0.89498523
5 0.31433861
6 0.67625227

##**Venn Diagram Analysis using Intersection method**##

In [ ]:
data0_01 = read.table("data0_01.csv", header= TRUE, sep=",")
data0_05 = read.table("data0_05.csv", header= TRUE, sep=",")
data0_1 = read.table("data0_1.csv", header= TRUE, sep=",")

In [ ]:
dataKidney0_01 = sum(data0_01[1])
dataLiver0_01 = sum(data0_01[2])
dataIntersection0_01 = sum(data0_01[3])

dataKidney0_05 = sum(data0_05[1])
dataLiver0_05 = sum(data0_05[2])
dataIntersection0_05 = sum(data0_05[3])

dataKidney0_1 = sum(data0_1[1])
dataLiver0_1 = sum(data0_1[2])
dataIntersection0_1 = sum(data0_1[3])

In [ ]:
c(dataKidney0_01, dataLiver0_01, dataIntersection0_01)

In [ ]:
draw.pairwise.venn(area1=dataKidney0_01, area2=dataLiver0_01,cross.area=dataIntersection0_01,
                   category=c("Kidney","Liver"),fill=c("Red","Yellow"),
                   )

In [ ]:
draw.pairwise.venn(area1=dataKidney0_05, area2=dataLiver0_05,cross.area=dataIntersection0_05,
                   category=c("Kidney","Liver"),fill=c("Red","Yellow"),
                   )

In [ ]:
draw.pairwise.venn(area1=dataKidney0_1, area2=dataLiver0_1,cross.area=dataIntersection0_1,
                   category=c("Kidney","Liver"),fill=c("Red","Yellow"),
                   )