<a href="https://colab.research.google.com/github/almedida/thesis/blob/main/simulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
rm(list = ls())

##***Load Dataset***

In [2]:
#load dataset
simulation_data = read.table("sim_data.csv", header= TRUE, sep=",")
N = ncol(simulation_data) #N = number columns (samples in the dataset)
n_gene = nrow(simulation_data) #n_gene = no of genes (rows in the dataset)

In [3]:
head(simulation_data)

  GSM1247203 GSM1247204 GSM1247205 GSM1247206 GSM1247207 GSM1247208 GSM1247209
1 4.319644   4.396137    3.968531  3.979268   3.901083   4.207761   3.963131
2 9.608635   9.244517   10.553440  9.754355   8.997556   9.027160   9.227125
3 5.923612   6.797588    6.369745  5.671180   6.077140   6.341990   6.686084
4 9.911118   9.421990    9.358638  9.275714   8.573832   9.072234   9.053680
5 6.292236   6.047995    6.268707  6.275980   6.257831   6.371053   6.149960
6 7.310085   8.409503    7.802326  7.260794   7.598630   7.504309   8.223495
  GSM1247210 GSM1247211 GSM1247212 ⋯ GSM1247410 GSM1247411 GSM1247412
1 4.164432   3.873857   4.217890   ⋯  4.484714  4.219507   3.925787
2 9.198466   8.908276   9.604081   ⋯  8.846296  8.666471   9.462380
3 6.154192   5.906662   6.186725   ⋯  6.820596  6.006575   6.250236
4 9.549565   9.458813   9.247518   ⋯ 10.028440  9.816180   8.794598
5 6.261317   6.361110   6.336733   ⋯  6.278971  6.549239   6.395798
6 7.424841   7.065065   7.577485   ⋯  7.754192  7.051993   7.425191
  GSM1247413 GSM1247414 GSM1247415 GSM1247416 GSM1247417 GSM1247418 GSM1247419
1 3.861954   4.015559   4.623454   5.223074   3.927950   3.798007   3.958021
2 9.199890   9.022814   9.072050   9.679663   8.615543   8.796901   8.688204
3 6.047955   6.467733   6.707928   7.916406   5.589499   5.016101   5.278193
4 9.688042   8.914406   9.211488   9.399957   9.693126   8.551371   9.780800
5 6.263772   6.119008   6.146906   6.276937   6.206087   6.438444   6.251627
6 7.989666   7.573813   7.743429   8.081255   7.023867   7.322741   7.321942

In [4]:
dim(simulation_data)

[1] 20219   217

In [5]:
set.seed(1)
m = 10000 #no of genes to be selected from the dataset
randomly_selected_genes = sample(n_gene, m) #randomly selected genes of size m from the total genes

head(randomly_selected_genes)
length(randomly_selected_genes)

[1] 17401  4775 13218 10539  8462  4050

[1] 10000

10k randomly selected data for simulation process

In [6]:
#10000 selected data corresponding to the randomly selected genes (EE genes)
randomly_selected_data = simulation_data[randomly_selected_genes, ]
genej_sim_data = randomly_selected_data
head(genej_sim_data)
dim(genej_sim_data)

      GSM1247203 GSM1247204 GSM1247205 GSM1247206 GSM1247207 GSM1247208
17401  7.252734   7.303979  7.010113   6.760083    7.459250   7.264806
4775   4.165667   4.435168  4.385319   4.420685    4.152833   3.816157
13218  7.629774   8.434767  7.971606   8.015123    7.517571   7.230787
10539  6.915510   7.562835  7.405954   8.888284    6.957932   6.642156
8462   5.949411   5.801627  5.792423   5.666441    5.843078   5.670973
4050  10.050940  11.042590  9.510201   9.602699   10.909970  11.115290
      GSM1247209 GSM1247210 GSM1247211 GSM1247212 ⋯ GSM1247410 GSM1247411
17401  7.441763  7.080874    7.218505   7.343332  ⋯ 7.379983    7.181466
4775   4.201120  4.029131    4.034959   4.177509  ⋯ 4.109681    4.031004
13218  7.881967  7.835166    8.319057   8.088978  ⋯ 8.052246    7.810543
10539  6.770809  6.772811    6.661028   6.976250  ⋯ 8.309056    6.928286
8462   5.809662  5.423051    5.958257   5.824004  ⋯ 5.784465    5.980613
4050  11.792050  9.915201   11.798120  10.769450  ⋯ 9.197424   10.616580
      GSM1247412 GSM1247413 GSM1247414 GSM1247415 GSM1247416 GSM1247417
17401  7.332173   7.204830   7.089101   7.034548   7.151740  7.135917
4775   4.180370   4.046903   4.022233   4.061613   4.244768  3.818283
13218  7.634784   8.381040   7.980730   7.325929   7.867981  8.242966
10539  6.647726   6.942022   6.752002   6.683944   6.985731  7.734789
8462   5.989962   5.781039   6.324430   5.347286   6.174486  5.765319
4050  10.694180  10.988510  11.430450  10.100610  11.895710  9.907439
      GSM1247418 GSM1247419
17401  7.595081  7.322358
4775   3.911840  4.099252
13218  7.700593  8.018120
10539  6.958129  7.541349
8462   5.868937  6.113311
4050  11.307340  9.178329

[1] 10000   217

standarad deviation for 10000 genes from all experimental units

In [7]:
genej_std = apply(genej_sim_data, 1, sd)
head(genej_std)
length(genej_std)

    17401      4775     13218     10539      8462      4050
0.2237894 0.2063794 0.2945551 0.5984411 0.3111447 0.8521204

[1] 10000

## Experimental units - Part 1

Here, we create 2 treatment groups with 4 randomly selected samples each with 10,000 randlomly selected genes.

In [8]:
set.seed(1)
n_samples = 4 #no of samples
randomly_selected_samples  = sample(N, 2*n_samples) #randomly select samples of size 2*n_trt_grp 
                                                    #for treatment group

treatment_group1 = randomly_selected_samples[1:n_samples]
treatment_group2 = randomly_selected_samples[(n_samples + 1):(2*n_samples)]

treatment_group1
treatment_group2

[1]  68 167 129 162

[1]  43  14 210 187

## Experimental units - Part 2

In [9]:
set.seed(2)
n_samples = 4 #no of samples
randomly_selected_samples  = sample(N, 2*n_samples) #randomly select samples of size 2*n_trt_grp 
                                                    #for treatment group

treatment_group12 = randomly_selected_samples[1:n_samples]
treatment_group22 = randomly_selected_samples[(n_samples + 1):(2*n_samples)]

treatment_group12
treatment_group22

[1]  85 207 198   6

[1] 160 136  17  93

Group 1 data

In [30]:
treatment_group1_data = genej_sim_data[treatment_group12]
head(treatment_group1_data)
write.csv(treatment_group1_data, "10k_untreated_group12.csv", row.names=FALSE)

      GSM1247287 GSM1247409 GSM1247400 GSM1247208
17401  7.200411   7.101899   7.317349   7.264806
4775   3.832058   4.206203   4.220349   3.816157
13218  7.628957   7.663785   8.075528   7.230787
10539  6.811996   7.184802   6.577177   6.642156
8462   5.746501   5.825291   5.852730   5.670973
4050  12.105170  10.868320  11.409490  11.115290

##**Simulation**

* Group 1 consists of EE genes and group 2 consists of 9k EE genes and 1k DE genes (genes with treatment effects)
* treatment_group2_data consists of the 4 randomly selected samples (exp. units)

In [20]:
treatment_group2_data = genej_sim_data[treatment_group22]
dim(treatment_group2_data)
head(treatment_group2_data)

[1] 10000     4

      GSM1247362 GSM1247338 GSM1247219 GSM1247295
17401  7.322909  7.491671    7.782539   7.541431
4775   3.971603  4.065791    4.163854   3.930611
13218  7.894858  7.827139    7.722981   7.888009
10539  7.635380  6.897770    7.339283   6.652089
8462   5.559383  5.858861    6.024853   6.750589
4050  10.901650  9.193827   10.860830  11.218500

## **Simulation from 3.1**

We calculate the treatment effect by extracting the effect size of each gene j from a random normal distribution using genej_std (standard deviation for the 10k randomly selected genes from all experimental units in the population data)

In [21]:
set.seed(1)
mu = 2*genej_std

treatment_effect_j = rnorm(10000, mu, genej_std)
length(treatment_effect_j)
head(data.frame(treatment_effect_j))

[1] 10000

  treatment_effect_j
1 0.3073851
2 0.4506590
3 0.3429716
4 2.1515638
5 0.7248141
6 1.0051030

## **DE genes**

DE genes are created by adding treatment effects extracted to each gene in group 2

In [22]:
dim(treatment_group2_data)
de_treatment_group2 = treatment_group2_data + treatment_effect_j
head(de_treatment_group2)

[1] 10000     4

      GSM1247362 GSM1247338 GSM1247219 GSM1247295
17401  7.630294   7.799056   8.089924   7.848816
4775   4.422262   4.516450   4.614513   4.381270
13218  8.237830   8.170111   8.065953   8.230981
10539  9.786944   9.049334   9.490847   8.803653
8462   6.284197   6.583675   6.749667   7.475403
4050  11.906753  10.198930  11.865933  12.223603

we randomly selected 1000 genes with treatment effect from de_treatment_group2

In [23]:
set.seed(1)
n_de = 1000 
n_treated_genes_grp2 = nrow(de_treatment_group2)

#we extract 1000 genes from DE_treatment_group2 (genes with treatment effects)
de_genes_index = sample(n_treated_genes_grp2, n_de)

#we copied untreated (genes without effects) genes from treatment_group2_data
treated_genes_group2 = treatment_group2_data

#we replaced the 1000 untreated genes (without treatment effects) with the corresponding treated genes(with treatment effects)
treated_genes_group2[de_genes_index, ] = de_treatment_group2[de_genes_index, ]

dim(treated_genes_group2)
head(de_genes_index)

[1] 10000     4

[1] 1017 8004 4775 9725 8462 4050

In [24]:
head(de_genes_index)

[1] 1017 8004 4775 9725 8462 4050

**Summary of Group 2 simulation**

m00 - number of EE genes (consists of 9000 genes)

m11 - number of DE genes (1000 genes)

In [26]:
m00 = treated_genes_group2[-de_genes_index, ]
m11 = treated_genes_group2[de_genes_index, ]
treatment_effect_size_grp2 = treatment_effect_j[de_genes_index]
write.csv(treated_genes_group2, "treated_grp22.csv")
dim(m00)
dim(m11)
length(treatment_effect_size_grp2)

[1] 9000    4

[1] 1000    4

[1] 1000

## Not part

In [16]:
# set.seed(1)
# mu = 2
# for (i in 1:length(df_m11_genes_std[1][,1])){

#   #print(df_m11_genes_std[1][i,1])
  
#   genes_treatment_effect <- rnorm(1000, mu*df_m11_genes_std[1][i,1], df_m11_genes_std[1][i,1])
  
# }

# head(genes_treatment_effect)
# gene_j_effect = data.frame(genes_treatment_effect)
# head(gene_j_effect)
# dim(gene_j_effect)

In [17]:
# set.seed(1)
# gene_j_effect_fn <- function(n, mu, std_data){
#   mu = mu
#   for (i in 1:length(std_data[,1])){
    
#     genes_treatment_effect2 <- rnorm(n, mu*std_data[i,1], std_data[i,1])
#     return (genes_treatment_effect2)
#   }
# }

# head(gene_j_effect_fn(1000, 2, df_m11_genes_std[1]))