<a href="https://colab.research.google.com/github/almedida/thesis/blob/main/simulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load dataset
sim_data = read.table("sim_data.csv", header= TRUE, sep=",")
N = ncol(sim_data) #no of columns
n_gene = nrow(sim_data) #no of rows

In [ ]:
head(sim_data)

  GSM1247203 GSM1247204 GSM1247205 GSM1247206 GSM1247207 GSM1247208 GSM1247209
1 4.319644   4.396137    3.968531  3.979268   3.901083   4.207761   3.963131
2 9.608635   9.244517   10.553440  9.754355   8.997556   9.027160   9.227125
3 5.923612   6.797588    6.369745  5.671180   6.077140   6.341990   6.686084
4 9.911118   9.421990    9.358638  9.275714   8.573832   9.072234   9.053680
5 6.292236   6.047995    6.268707  6.275980   6.257831   6.371053   6.149960
6 7.310085   8.409503    7.802326  7.260794   7.598630   7.504309   8.223495
  GSM1247210 GSM1247211 GSM1247212 ⋯ GSM1247410 GSM1247411 GSM1247412
1 4.164432   3.873857   4.217890   ⋯  4.484714  4.219507   3.925787
2 9.198466   8.908276   9.604081   ⋯  8.846296  8.666471   9.462380
3 6.154192   5.906662   6.186725   ⋯  6.820596  6.006575   6.250236
4 9.549565   9.458813   9.247518   ⋯ 10.028440  9.816180   8.794598
5 6.261317   6.361110   6.336733   ⋯  6.278971  6.549239   6.395798
6 7.424841   7.065065   7.577485   ⋯  7.754192  7.051993   7.425191
  GSM1247413 GSM1247414 GSM1247415 GSM1247416 GSM1247417 GSM1247418 GSM1247419
1 3.861954   4.015559   4.623454   5.223074   3.927950   3.798007   3.958021
2 9.199890   9.022814   9.072050   9.679663   8.615543   8.796901   8.688204
3 6.047955   6.467733   6.707928   7.916406   5.589499   5.016101   5.278193
4 9.688042   8.914406   9.211488   9.399957   9.693126   8.551371   9.780800
5 6.263772   6.119008   6.146906   6.276937   6.206087   6.438444   6.251627
6 7.989666   7.573813   7.743429   8.081255   7.023867   7.322741   7.321942

In [ ]:
dim(sim_data)

[1] 20219   217

In [ ]:
set.seed(1)
m = 10000 #no of genes to sample
random_genes = sample(n_gene, m) #randomly selected genes of size m from the total genes

head(random_genes)
length(random_genes)

[1] 17401  4775 13218 10539  8462  4050

[1] 10000

In [ ]:
#1000 selected data corresponding to the randomly selected genes
rand_selected_data = sim_data[random_genes, ]
head(rand_selected_data)

      GSM1247203 GSM1247204 GSM1247205 GSM1247206 GSM1247207 GSM1247208
17401  7.252734   7.303979  7.010113   6.760083    7.459250   7.264806
4775   4.165667   4.435168  4.385319   4.420685    4.152833   3.816157
13218  7.629774   8.434767  7.971606   8.015123    7.517571   7.230787
10539  6.915510   7.562835  7.405954   8.888284    6.957932   6.642156
8462   5.949411   5.801627  5.792423   5.666441    5.843078   5.670973
4050  10.050940  11.042590  9.510201   9.602699   10.909970  11.115290
      GSM1247209 GSM1247210 GSM1247211 GSM1247212 ⋯ GSM1247410 GSM1247411
17401  7.441763  7.080874    7.218505   7.343332  ⋯ 7.379983    7.181466
4775   4.201120  4.029131    4.034959   4.177509  ⋯ 4.109681    4.031004
13218  7.881967  7.835166    8.319057   8.088978  ⋯ 8.052246    7.810543
10539  6.770809  6.772811    6.661028   6.976250  ⋯ 8.309056    6.928286
8462   5.809662  5.423051    5.958257   5.824004  ⋯ 5.784465    5.980613
4050  11.792050  9.915201   11.798120  10.769450  ⋯ 9.197424   10.616580
      GSM1247412 GSM1247413 GSM1247414 GSM1247415 GSM1247416 GSM1247417
17401  7.332173   7.204830   7.089101   7.034548   7.151740  7.135917
4775   4.180370   4.046903   4.022233   4.061613   4.244768  3.818283
13218  7.634784   8.381040   7.980730   7.325929   7.867981  8.242966
10539  6.647726   6.942022   6.752002   6.683944   6.985731  7.734789
8462   5.989962   5.781039   6.324430   5.347286   6.174486  5.765319
4050  10.694180  10.988510  11.430450  10.100610  11.895710  9.907439
      GSM1247418 GSM1247419
17401  7.595081  7.322358
4775   3.911840  4.099252
13218  7.700593  8.018120
10539  6.958129  7.541349
8462   5.868937  6.113311
4050  11.307340  9.178329

In [ ]:
#calculate standard deviation for each gene 
rand_selected_data_sd = apply(rand_selected_data, 1, sd)

head(rand_selected_data_sd)
length(rand_selected_data_sd)

    17401      4775     13218     10539      8462      4050
0.2237894 0.2063794 0.2945551 0.5984411 0.3111447 0.8521204

[1] 10000

In [ ]:
set.seed(1)
n_samples = 4 #no of experimental units
random_samples  = sample(N, 2*n_samples) #randomly select samples of size 2*n_trt_grp 
                                              #for treatment group

random_samples

trt_grp1 = random_samples[1:n_samples]
trt_grp2 = random_samples[(n_samples + 1):(2*n_samples)]

trt_grp1
trt_grp2

[1]  68 167 129 162  43  14 210 187

[1]  68 167 129 162

[1]  43  14 210 187

In [ ]:
trt_grp1

[1]  85 207 198   6

In [77]:
trt_grp1_data = rand_selected_data[trt_grp1]
head(trt_grp1_data)

dim(trt_grp1_data)

      GSM1247270 GSM1247369 GSM1247331 GSM1247364
17401  7.440661   6.980917   7.245719   7.191339
4775   4.125719   4.080995   3.819399   4.104383
13218  7.896658   8.193822   8.064172   7.637587
10539  7.710653   6.906425   7.321344   7.207895
8462   6.211932   6.102299   5.840452   5.439352
4050  10.423190  11.512620  11.124810  10.188600

[1] 10000     4

In [79]:
trt_grp2_data = rand_selected_data[trt_grp2]
head(trt_grp2_data)

dim(trt_grp2_data)

      GSM1247245 GSM1247216 GSM1247412 GSM1247389
17401  7.281503  7.235446    7.332173   7.097853
4775   4.127808  4.584075    4.180370   3.777045
13218  7.935946  7.795728    7.634784   7.370020
10539  7.256062  7.494608    6.647726   6.818447
8462   5.813072  5.418977    5.989962   5.462583
4050  10.446420  9.349102   10.694180  10.714950

[1] 10000     4

In [70]:
set.seed(1)
#randomly selected jth gene and calculate sd
gene_j = sample(n_gene, 1)
gene_j
sd_gene_j = apply(sim_data[gene_j, ], 1, sd)
sd_gene_j
#sd_gene_j = sample(rand_selected_data_sd, 1)
#sd_gene_j

[1] 17401

    17401
0.2237894

In [81]:
#calculate random normal
set.seed(1)
mu = 2
dat0 <- rnorm(rand_selected_data[gene_j, ], mu, sd_gene_j)
length(dat0)
#treatment effect selected at random
trt_effect = sample(dat0, 1)
trt_effect

[1] 217

[1] 1.969776

In [110]:
#add treatment effect to all genes 
trt_grp2_datacopy = trt_grp2_data

trt_grp2_with_effect = trt_grp2_datacopy[1:m, ] + trt_effect
head(trt_grp2_with_effect)

      GSM1247245 GSM1247216 GSM1247412 GSM1247389
17401  9.251279   9.205222   9.301949   9.067629
4775   6.097584   6.553851   6.150146   5.746821
13218  9.905722   9.765504   9.604560   9.339796
10539  9.225838   9.464384   8.617502   8.788223
8462   7.782848   7.388753   7.959738   7.432359
4050  12.416196  11.318878  12.663956  12.684726