<a href="https://colab.research.google.com/github/almedida/thesis/blob/main/t_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
install.packages('pacman')

library(pacman, devtools)

p_load("tidyverse", "matrixTests")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘matrixStats’



matrixTests installed

In [2]:

#load dataset on data_df
kidneyCBAExpr = read.table("kidneyCBA.csv", header= TRUE, sep=",")
kidneyTechExpr = read.table("kidneyTech.csv", header= TRUE, sep=",")

In [3]:
#load dataset on data_df
liverCBAExpr = read.table("liverCBA.csv", header= TRUE, sep=",")
liverTechExpr = read.table("liverTech.csv", header= TRUE, sep=",")

In [4]:
kidneyCBA_df <- data.matrix(as.data.frame(as.matrix(kidneyCBAExpr)), rownames.force = NA)

kidneyTech_df <- data.matrix(as.data.frame(as.matrix(kidneyTechExpr)), rownames.force = NA)

In [5]:
liverCBA_df <- data.matrix(as.data.frame(as.matrix(liverCBAExpr)), rownames.force = NA)

liverTech_df <- data.matrix(as.data.frame(as.matrix(liverTechExpr)), rownames.force = NA)

In [ ]:
head(liverCBA_df, 5)

#dim(liverCBA_df)

head(liverTech_df, 5)

#dim(liver_df)

     CBA_Liv_Diet_A_d1 CBA_Liv_Diet_A_d2 CBA_Liv_Diet_A_d3 CBA_Liv_Diet_A_d4
[1,] 12.027946         12.258315         12.053265         12.413971
[2,] 11.004045         10.918036         11.008520         11.083123
[3,]  5.338915          5.410364          5.440630          5.745109
[4,]  9.831163          9.721065          9.679919          9.736403
[5,]  7.395784          7.707718          7.111960          7.412790
     CBA_Liv_Diet_A_d5 CBA_Liv_Diet_A_d6
[1,] 11.808022         12.325518
[2,] 11.279887         11.393132
[3,]  6.001170          6.183407
[4,] 10.028636         10.034891
[5,]  6.909277          6.892930

     Tech_Liv_Diet_A_d1 Tech_Liv_Diet_A_d2 Tech_Liv_Diet_A_d3
[1,] 12.428553          12.202266          12.165604
[2,] 11.230598          10.856301          11.038833
[3,]  5.150117           5.254590           4.743771
[4,]  9.686403           9.397575           9.457412
[5,]  6.548385           6.223798           6.690273
     Tech_Liv_Diet_A_d4 Tech_Liv_Diet_A_d5 Tech_Liv_Diet_A_d6
[1,] 11.970479          11.997086          12.332918
[2,] 10.841685          10.511835          11.252713
[3,]  5.404009           5.618906           5.485457
[4,]  9.112441           9.228269           9.886885
[5,]  6.080317           6.677899           6.532884

In [6]:
 #liver_df <- data.matrix(liver_df, rownames.force = NA)
 
 kidney_ttest <- row_t_equalvar(kidneyCBA_df, kidneyTech_df, alternative = "two.sided", mu = 0, conf.level = 0.95)

 liver_ttest <-  row_t_equalvar(liverCBA_df, liverTech_df, alternative = "two.sided", mu = 0, conf.level = 0.95)

In [9]:
#liver_ttest

write.csv(kidney_ttest, "kidney_ttest.csv")

#write.csv(liver_ttest, "liver_ttest.csv")